:root{
    --main-color: #16213E;
    --main-color-fifa: #8A4FFF;
}
body{
    background: var(--main-color);
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
    padding: 0px;
    display: grid;
    justify-content: center;
    align-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
.container{
    display: grid;
    grid-template-columns: repeat(200, 60px);
    grid-template-rows: repeat(200, 48px);
    width: 100vw;
    height: 100vh;
}
.con-num-sala{
    background: var(--main-color-fifa);
    grid-column: 11/14;
    /*grid-row: 1/4;*/
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 0px 0px 10px 10px;
    font-family: 'Jost', sans-serif;
    color: white;
}

.con-player{
    /*border: 3px solid;*/
    grid-column: 2/8;
    grid-row: 4/7;
    display: grid;
    grid-template-columns: 60% 40%;
}
.img-player{
    display: grid;
    justify-items: center;
    align-content: center;
}
.img-player img{
    width: 50%;
    object-fit: cover;
}
.con-card-player{
    display: grid;
    justify-items: center;
    align-content: center;
    position: relative;
}
.card{
    position: absolute;
    /*left: 0px;*/
    padding-right: 10px;
    padding-top: -2px;
}
.card, .card-back{
    /*width: 80px;*/
    height: 130px;
}
.con-player:nth-child(3){
    grid-column: 2/8;
    grid-row: 8/11;
}

.con-player:nth-child(4){
    grid-column: 2/8;
    grid-row: 12/15;
}

.con-player:nth-child(5){
    /*background: red;*/
    grid-column: 17/23;
    grid-row: 4/7;
    grid-template-columns: 40% 60%;
}

.con-player:nth-child(6){
    /*background: red;*/
    grid-column: 17/23;
    grid-row: 8/11;
    grid-template-columns: 40% 60%;
}

.con-player:nth-child(7){
    grid-column: 17/23;
    grid-row: 12/15;
    grid-template-columns: 40% 60%;
}


.table-game{
    grid-column: 9/16;
    grid-row: 4/12;
    background: rgba(0 0 0  / .5);
    border-radius: 50%;
}

.con-player-main{
    grid-column: 9/16;
    grid-row: 13/16;
}
